@import "../Helper/Color.scss";
@import "../Helper/Font.scss";

@mixin color($color) {
  width: 30px;
  height: 30px;
  background-color: $color;
  border-radius: 50%;
  border: none;
  margin-right: 15px;
  margin-top: 10px;
}

.list-small-img {
  position: relative;
  padding-left: 20%;
  // margin-right: 20px;

  .small-img {
    width: 72px;
    height: 106px;
    margin-top: 22px;
  }
}

.large-img {
  width: 320px;
  height: 491px;
  margin-left: 30px;
  margin-top: 22px;
  margin-right: 20px;
}

.product-info {
  margin-top: 22px;

  .product-name {
    @include font(Montserrat, 24px, 500, normal, normal, 1.33, normal);
    color: $dark-grey;
    margin-bottom: 0px;
  }

  .product-price {
    @include font(Montserrat, 24px, 300, normal, normal, 1.33, normal);
    color: $dark-grey;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .add-to-cart {
    width: 429px;
    height: 50px;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
    background-color: #5f6dff;
    @include font(Montserrat, 16px, bold, normal, normal, 1.5, normal);
    text-align: center;
    color: $white;
    border: none;
  }

  .do-not-add {
    width: 429px;
    height: 50px;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
    background-color: $white-four;
    @include font(Montserrat, 16px, bold, normal, normal, 1.5, normal);
    text-align: center;
    color: $white;
    border: none;
  }

  .size-title {
    height: 22px;
    @include font(Montserrat, 14px, 500, normal, normal, 1.57, normal);
    color: $dark-grey;
    margin-bottom: 0px;
    margin-top: 28px;
  }

  .sizes-product {
    margin-top: 10px;

    .square {
      width: 40px;
      height: 40px;
      border: solid 1px #808080;
      @include font(Montserrat, 14px, normal, normal, normal, 1.57, normal);
      color: $dark-grey;
      cursor: pointer;
      background: $white;
      border-radius: 2px;

      &:focus {
        background-color: $pale-orange !important;
        @include font(Montserrat, 14px, bold, normal, normal, 1.57, normal);
        color: $white;
        text-align: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
        border: none;
      }
    }

    button {
      &:focus {
        outline: solid 1px $white-four;
      }
    }

    .unenable {
      width: 40px;
      height: 40px;
      @include font(Montserrat, 14px, 500, normal, normal, 1.57, normal);
      border: solid 1px $white-four;
      opacity: 0.4;
      color: $greyish-brown;
      cursor: no-drop;
    }
  }

  .colors-product {
    .color0 {
      @include color(#ff5f6d);
    }

    .color1 {
      @include color(rgba(255, 213, 67, 0.4));
    }

    .color2 {
      @include color(rgba(95, 109, 255, 0.4));
    }

    .color3 {
      @include color(rgba(255, 161, 95, 0.4));
    }

    .color4 {
      @include color(rgba(61, 61, 63, 0.4));
    }

    .color5 {
      @include color(rgba(237, 237, 237, 0.4));
    }
  }

  .handle-quantity {
    width: 108px;
    height: 42px;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 9px;
    border: solid 1px $white-four;

    p {
      width: 9px;
      height: 22px;
      @include font(Montserrat, 14px, 500, normal, normal, 1.57, normal);
      color: $dark-grey;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .size-title1 {
    height: 22px;
    margin-top: 10px;

    @include font(Montserrat, 14px, 500, normal, normal, 1.57, normal);
    text-align: center;
    color: $dark-grey;
  }

  .line-under-add-to-cart {
    width: 429px;
    height: 1px;
    border: solid 0.5px #979797;
    margin-top: 20px;
    opacity: 0.2;
  }

  .model-wearing {
    width: 128px;
    height: 66px;
    @include font(Montserrat, 12px, normal, normal, normal, 1.83, normal);
    color: $dark-grey;

    .model-wearing-s {
      font-weight: 500;

      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
}

.more-from {
  width: 80px;
  height: 22px;
  @include font(Montserrat, 14px, 500, normal, normal, 1.57, normal);
  color: $dark-grey;
  margin-top: 0px;
  margin-bottom: 0px;
}

.more-from-category {
  @extend .more-from;
  font-weight: normal;
  letter-spacing: -0.1px;
  color: $greyish-brown;
  margin-top: 0px;
  margin-bottom: 0px;
}

.list-small-img1 {
  @extend .list-small-img;
  padding-left: 1%;

  .small-img1 {
    @extend .small-img;
    margin-top: 12px;
  }
}

.error {
  position: relative;
  margin-bottom: 26%;
  margin-left: 42%;
  margin-top: 8%;
}

.reviews {
  margin-left: 8%;
  margin-right: 10%;

  .review {
    // width: 67px;
    height: 24px;
    @include font(Montserrat, 16px, 500, normal, normal, 1.5, normal);
    color: $dark-grey;

    &:before {
      content: "";
      width: 80px;
      height: 1px;
      border: solid 0.5px #979797;
    }

    &:after {
      content: "";
      width: 992px;
      height: 1px;
      border: solid 0.5px #979797;
    }
  }
}
