@import '../Helper/Color.scss';
@import '../Helper//Font.scss';




.inforItem {

  @include heightAndWidth(22px, 85px);
  opacity: 0.5;
  @include font(Montserrat, 12px, normal, normal, normal, 1.57, normal);
  text-align: center;
  color: $greyish-two;
}

.socialImgItem {

  @include heightAndWidth(24px, 24px);
  object-fit: contain;
}