@import "../../../Helper/Font.scss";
@import "../../../Helper/Color.scss";

.drop-down {
  width: 179px;
  height: 32px;
  opacity: 0.9;
  border: solid 1px $greyish-two;
  background-color: $white-two;
  border-radius: 2px;
  margin-bottom: 4px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    .sort-by-items {
      display: block;
    }
  }

  .sort-by {
    height: 22px;
    @include font(Montserrat, 12px, 500, normal, normal, 1.83, normal);
    color: $greyish-brown;
    margin-left: 12px !important;
    margin-top: 4px;

    .sort-by-selected {
      margin-left: 10px;
      height: 18px;
      @include font(Montserrat, 12px, bold, normal, normal, 1.5, normal);
      color: $dark-grey;
    }
  }

  .sort-by-items {
    display: none;
    width: 181px;
    height: 139px;
    box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
    border: solid 0.5px #eaeaea;
    background-color: #fbfbfb;
    padding-left: 10px;
    z-index: 1000;

    position: absolute;
    top: 33%;

    .sort-by-item {
      height: 22px;
      border-top: 1px solid #e9ecef;
      @include font(Montserrat, 12px, 500, normal, normal, 1.83, normal);
      color: $greyish-brown;
    }
  }
}

.no-result-found {
  height: 22px;
  @include font(Montserrat, 15px, normal, normal, normal, 1.57, normal);
  text-align: center;
  color: $greyish-two;
  position: absolute;
  top: 47%;
  right: 45%;
}

.products {
  margin-top: 20px;
}
