@import "../Helper/Color.scss";
@import "../Helper/Font.scss";

.rectangle-2 {
  @include heightAndWidth(35px, 181px);
  border-radius: 17px;
  border: solid 1px $greyish-two;
  opacity: 0.5;
  padding: 4px;

  .search {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    line-height: 25px;
    width: 140px;
    color: gray;
    padding-left: 5px;

    .searchIcon {
      @include heightAndWidth(20px, 20px);
      margin-bottom: 1px;
      object-fit: contain;
      opacity: 0.6;

      &:hover {
        cursor: pointer;
      }
    }
  }

  @include placeholder(".search", $pinkish-grey, 22px, 48px, 1, Montserrat, 14px, normal, normal, normal, 1.57, normal);
}

.logo {
  @include heightAndWidth(20px, 96px);
  object-fit: contain;
}

.register {
  @include heightAndWidth(22px, 59px);
  @include font(Montserrat, 16px, normal, normal, normal, 2.57, normal);
  color: $greyish-brown;

  &:hover {
    cursor: pointer;
  }
}

.login {
  @include heightAndWidth(35px, 120px);
  border-radius: 100px;
  border: solid 1px $pale-orange;
  background: $white;
  color: $pale-orange;
  font-weight: bold;
  margin-left: 24px;
  margin-right: 29px;
}

.userpic {
  @include heightAndWidth(28px, 28px);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.cart {
  @include heightAndWidth(24px, 24px);
  object-fit: contain;
}

.badge-warning {
  background-color: $pale-orange;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: normal;
  color: $white;
  @include heightAndWidth(18px, 18px);
  margin-left: -8px;
  margin-top: -3px;
}
