@import "../../../../Helper/Color.scss";
@import "../../../../Helper/Font.scss";

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.cart-product {
  width: 154px;
  height: 345px;
  margin-right: 14px;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }

  .sold-out {
    width: 60px;
    height: 22px;
    background-color: #808080;
    @include font(Montserrat, 12px, bold, normal, normal, 1.5, normal);
    color: $white;
    margin-left: -5px;
    margin-bottom: 20px;
    margin-top: -42px;
    position: relative;
    text-align: center;
    padding-top: 2px;
    // align-items: center;
    z-index: 1000;
  }

  .product-img {
    width: 154px;
    height: 251px;
    object-fit: contain;
  }

  .product-name {
    @include font(Montserrat, 14px, 500, normal, normal, 1.43, normal);
    color: $dark-grey;
    margin: 0px;
  }

  .product-brand {
    @include font(Montserrat, 14px, 500, normal, normal, 1.43, normal);
    color: $dark-grey;
    margin: 0px;
  }

  .product-price {
    margin-top: 0px;
    height: 22px;
    @include font(Montserrat, 12px, normal, normal, normal, 1.83, normal);
    color: $greyish-brown;
  }
}
