@import "../../Helper/Font.scss";
@import "../../Helper/Color.scss";

.balli {
  height: 513px;
  width: 1145px;
  margin-left: 6%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.imgText {
  position: absolute;
  top: 42%;
  right: 15%;
  color: $white;
  width: auto;
  text-align: right;
  @include font(Domine, 48px, bold, normal, normal, 0.94, normal);
}

.btnshopNow {
  @include heightAndWidth(49px, 180px);
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  background-color: $pale-orange;

  position: absolute;
  bottom: -12%;
  right: 12%;

  @include font(Montserrat, 16px, bold, normal, normal, 1.5, normal);
  text-align: center;
  color: $white;
  margin-left: 17%;
  margin-top: 5%;
}

.small-item {
  margin-left: 9%;
  margin-right: 7%;
}
