@import "../../Helper/Font.scss";
@import "../../Helper/Color.scss";

.smallItem {
  @include heightAndWidth(405px, 280px);

  .smallBalli {
    @include heightAndWidth(405px, 280px);
  }

  .subSmall {
    position: relative;
    bottom: 30%;
    left: 12%;
    display: flex;
    flex-direction: column;

    .imgTextSmall {
      @include heightAndWidth(32px, 216px);
      @include font(Domine, 24px, bold, normal, normal, 1.33, normal);
      text-align: center;
      color: $white;
      border-bottom: 2px solid $white;
    }

    .shopNowSmall {
      margin-left: 10%;
      @include heightAndWidth(40px, 140px);
      box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
      background-color: $pale-orange;
      border-color: $pale-orange;

      text-align: center;
      @include font(Montserrat, 14px, 600, normal, normal, 1.57, normal);
      color: $white;
      margin-left: 15%;
      margin-top: 5%;
    }
  }
}
