@import "../Helper/Color.scss";
@import "../Helper/font.scss";
@import "../Helper/Item.scss";

@mixin label($width, $height) {
  width: $width;
  height: $height;
  @include font(Montserrat, 12px, bolder, normal, normal, 1.5, normal);
  font-weight: bold;
  color: $dark-grey;
}

@mixin registerBtn {
  @include heightAndWidth(50px, 395px);
  margin-top: 7%;
  margin-left: 8%;
  margin-bottom: 10%;
  border: none;
}

@mixin btnText {
  @include heightAndWidth(24px, 71px);
  @include font(Montserrat, 16px, bold, normal, normal, 1.5, normal);
  text-align: center;
  color: $white;
  margin-left: 40%;
}

.registerModal {
  background-color: $white;
  height: 703px;
  width: 520px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
  padding-left: 20px;



  .cross {
    @include heightAndWidth(24px, 24px);
    object-fit: contain;
    margin-left: 92%;

    &:hover {
      cursor: pointer;
    }
  }

  .register {
    @include heightAndWidth(42px, 141px);
    @include font(Montserrat, 32px, bold, normal, normal, 1.31, normal);
    text-align: center;
    color: $dark-grey;
    margin-left: 34%;
    margin-top: 5%;
  }

  .activeR {
    @include heightAndWidth(72px, 195px);
    margin-left: 8%;
    margin-top: 5%;

    .fullNameLabel {
      @include label(39px, 18px);
    }

    .emailLabel {
      @include label(45px, 18px);
    }

    .passwordLabel {
      @include label(76px, 18px);
    }

    .errorInput {
      @include errorInput();
    }

    .normalInput {
      @include heightAndWidth(46px, 395px);
      background-color: $white-two;
      border: none;
      padding-left: 5px;
    }

    @include placeholder("input",
      $greyish-brown,
      22px,
      129px,
      0.3,
      Montserrat,
      14px,
      500,
      normal,
      normal,
      1.57,
      normal);

    .errorText {
      @include font(Montserrat, 10px, 500, normal, normal, 2.2, normal);
      color: $strawberry;
    }
  }

  .subInfor {
    @include font(Montserrat, 14px, normal, normal, normal, 1.57, normal);
    color: $dark-grey;
    margin-top: 9%;
    margin-left: 17%;

    .privacy {
      font-weight: bold;
      color: $pumpkin-orange;
      border-bottom: solid 1px $pale-orange;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .registerButton {
    @include registerBtn();
    background-color: $white-four;

    .buttonText {
      @include btnText();
    }
  }

  .registerButtonActive {
    @include registerBtn();
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
    background-color: $pale-orange;

    .buttonText {
      @include btnText();
    }
  }

  .dontHaveAccount {
    @include font(Montserrat, 14px, 500, normal, normal, 1.57, normal);
    color: $greyish-brown;
    margin-left: 22%;
    margin-top: 9px;
  }

  .loginN {
    margin-top: 9px;

    @include heightAndWidth(22px, 46px);
    @include font(Montserrat, 14px, bold, normal, normal, 1.57, normal);
    color: $pumpkin-orange;
    text-align: left;
    border-bottom: 1px solid $pumpkin-orange;

    &:hover {
      cursor: pointer;
    }
  }
}